body {
  font-family: "Inter", sans-serif;
  background-color: #fdfbf8; /* Warm Neutral Background */
  color: #4a2e2a; /* Deep Brown Text */
}
h1,
h2,
h3,
h4,
h5,
h6,
[data-lang-key] {
  font-family: "Lora", serif;
}

html[lang="hi"] body,
html[lang="hi"] [data-lang-key] {
  font-family: "Tiro Devanagari Hindi", serif;
}

html[lang="en"] h1,
html[lang="en"] h2,
html[lang="en"] h3,
html[lang="en"] h4,
html[lang="en"] h5,
html[lang="en"] h6 {
  font-family: "Lora", serif;
}

.nav-link {
  transition: color 0.3s, border-bottom-color 0.3s;
}
.nav-link:hover,
.nav-link.active {
  color: #ff6700; /* Saffron Accent */
  border-bottom-color: #ff6700;
}
.tab-button {
  transition: background-color 0.3s, color 0.3s;
}
.tab-button.active {
  background-color: #8c3b2a; /* Maroon Accent */
  color: #fdfbf8;
}

/* --- New Footer Styles --- */
.footer-bg {
  background-color: #4a2e2a; /* Your deep brown color */
  background-image: url("images/footer_background.png");
  background-blend-mode: multiply;
  background-size: 400px;
  color: #fdfbf8;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.footer-link {
  color: #e5e7eb; /* A light gray for links */
  transition: color 0.3s;
}
.footer-link:hover {
  color: #ff6700; /* Your saffron accent color */
}
